<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Fragment</title>
</head>

<body>
    <script type="text/javascript">
        // 创建一个 DocumentFragment
        const fragment = document.createDocumentFragment();

        // 创建一组节点并添加到 DocumentFragment 中
        for (let i = 0; i < 100; i++) {
            // 不停的创建一个 p 节点
            const p = document.createElement('p');
            p.textContent = 'This is fragment ' + i;
            fragment.appendChild(p);
        }

        // 将 DocumentFragment 添加到页面中
        document.body.appendChild(fragment);
    </script>
</body>

</html>